.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;

  & h1 {
    padding-bottom: 40px;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 22px;

    &:hover {
      color: #0051ad;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 786px) {
  .page-not-found {
    padding-top: 200px;
  }
}
